In [111]:
import pandas as pd 

data_file = 'Resources/purchase_data.csv'

player_df = pd.read_csv(data_file)

<h1><b>Player Count</b></h1>

In [108]:
totalPlayers = len(player_df["SN"].value_counts())
printTotalPlayer = pd.DataFrame({"Total Number of Players": [totalPlayers]})
printTotalPlayer

   Total Number of Players
0                      576

<h1><b>Purchasing Analysis (Total)</b></h1>

In [ ]:
uniqueItems = len(player_df["Item ID"].unique())
averagePurch = player_df["Price"].mean()
totalPurch = player_df["Purchase ID"].count()
totalRev = player_df["Price"].sum()

print_df = pd.DataFrame({"Number of Unique Items": [uniqueItems],"Average Purchase Price": [averagePurch], 
                         "Total Number of Purchases": [totalPurch], "Total Revenue": [totalRev]})
print_df.style.format({'Average Purchase Price': "${:,.2f}",
                       "Total Revenue": "${:,.2f}"})

<h1><b>Gender Demographics</b></h1>

In [63]:
genderBreakdown = player_df.groupby("Gender")
totalGenderCount = genderBreakdown.nunique()["SN"]
playerPercent = totalGenderCount / totalPlayers * 100


printGender_df = pd.DataFrame({"Total Count" : totalGenderCount,"Player Percentage": playerPercent })
printGender_df.style.format({"Player Percentage" : "{:.2f}%"})

### Gender Demographics

<h1><b>Purchasing Analysis (Gender)</b></h1>

In [69]:
totalCountGender = genderBreakdown["Purchase ID"].count()
avgPurchPriceGender = genderBreakdown["Price"].mean()
totalPurchaseGender = genderBreakdown["Price"].sum() 
avgPerPlayerGender = totalPurchaseGender/totalGenderCount

printGenPurch_df = pd.DataFrame({"Purchase Count" : totalCountGender, "Average Purchase Price" : avgPurchPriceGender,
                                  "Total Purchase Value" : totalPurchaseGender, "Average Purchase Total per Person": avgPerPlayerGender}
                               )
printGenPurch_df.style.format({"Average Purchase Price": "${:,.2f}",
                               "Total Purchase Value": "${:,.2f}",
                               "Average Purchase Total per Person": "${:,.2f}"})

### Purchasing Analysis (Gender)

<h1><b>Age Demographics</b></h1>

In [110]:
bin_labels = ["Less than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,200]
player_df["Age Range"] = pd.cut(player_df['Age'], bins=bins, labels = bin_labels)

ageRange = player_df.groupby("Age Range")
totalAgeCount = ageRange.nunique()["SN"]
percentAge = totalAgeCount/totalPlayers * 100

printAgeStats_df = pd.DataFrame({"Total Count" : totalAgeCount, "Percentage of Players" : percentAge})
printAgeStats_df.style.format({"Percentage of Players": "{:.2f}%"})

<h1><b>Purchasing Analysis (Age)</b></h1>

In [75]:
totalCountAge = ageRange["Purchase ID"].count()
avgPurchPriceAge = ageRange["Price"].mean()
totalPurchAge = ageRange["Price"].sum() 
avgPerPersonAge = totalPurchAge/totalAgeCount

printAge_df = pd.DataFrame({"Purchase Count" : totalCountAge, "Average Purchase Price" : avgPurchPriceAge,
                            "Total Purchase Value" : totalPurchAge, "Average Purchase Total per Person": avgPerPersonAge}
                          )
print("### Age Demographics")
printAge_df.style.format({"Average Purchase Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Average Purchase Total per Person": "${:,.2f}"})

### Age Demographics

<h1><b>Top Spenders</b></h1>

In [83]:
topSpenders = player_df.groupby("SN")
totalPerPerson = topSpenders["Purchase ID"].count()
avgPerPerson = topSpenders["Price"].mean()
totalPerPerson = topSpenders["Price"].sum()

printTopSpender_df = pd.DataFrame({"Purchase Count" : totalPerPerson, "Average Purchase Price" : avgPerPerson,
                                    "Total Purchase Value" : totalPerPerson})
top5 = printTopSpender_df.sort_values(["Total Purchase Value"], ascending=False).head()
top5.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}"})

<h1><b>Most Popular Items</b></h1>

In [84]:
newItems = player_df[["Item ID", "Item Name", "Price"]]
groupedItems = newItems.groupby(["Item ID", "Item Name"])
purchCount = groupedItems["Price"].count()
totalValue = (groupedItems["Price"].sum())
itemPrice = totalValue/purchCount

printTopItem_df = pd.DataFrame({"Purchase Count" : purchCount, "Item Price" : itemPrice, "Total Value" : totalValue})
topItems = printTopItem_df.sort_values(["Purchase Count"], ascending=False).head()
topItems.style.format({"Item Price": "${:,.2f}",
                       "Total Value": "${:,.2f}"})

<h1><b>Most Profitable Items</b></h1>

In [86]:
top5 = printTopItem_df.sort_values(["Total Value"], ascending =False).head()
top5.style.format({"Item Price": "${:,.2f}",
                   "Total Value": "${:,.2f}"})